  </main>
  {{ partial "menu.html" . }}
  <footer class="l-footer">
    {{ partial "link.html" . }}

    <p style="text-align: center">Also availible on: <a href="http://rigdenaru5moibat.onion">The Dark Web</a>, <a href="http://ipfs.jasonrigden.com">IPFS</a>, and <a href="https://jasonrigden.com">HTTPS</a></p>

    <p class="p-copyright">
      {{ with .Site.Copyright | safeHTML }}
        {{ . }}
      {{ else }}
        {{ if .Site.Params.author }}
          {{ if .Site.Params.authorwebsite }}
            <a href="{{ .Site.Params.authorwebsite }}">{{ .Site.Params.author }}</a>
          {{ else }}
            {{ .Site.Params.author }}
          {{ end }}
        {{ end }}
        &nbsp;&bull;&nbsp;
        {{ .Site.LastChange.Format "2018" }}

        {{ if .Site.Title }}
          &nbsp;&bull;&nbsp;
          <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
        {{ end }}
      {{ end }}
      <br>
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
        <br />
        This work is licensed under a<br>
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
          Creative Commons Attribution 4.0 International License
      </a>.
    </p>
  </footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113161827-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113161827-1');
</script>


  {{- partial "footer_custom.html" . }}
</body>
</html>
